<!doctype html>
<html lang="en">
  <head>
    <title>Coupa ChatOps</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <style type="text/css">
      html {
        min-height: 100%;
      }

      body {
        padding-top: 40px;
        background: url(https://s3.amazonaws.com/that-old-black-magic/coupa-logo-transparent.png);
        background-position: bottom right;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <a href="/auth/github" class="btn btn-primary btn-default btn-block"><i class="fa fa-github"></i>&nbsp;Login with GitHub</a>
        </div>
      </div>
    </div>

  </body>
</html>
